@{
    Layout = "_Admin"; // hoặc Layout = "";
}

    <!-- Main content -->
    <div class="main">
        <h2>Welcome to the Admin Dashboard</h2>
        <p>Here, you can manage your products, orders, customers, and generate reports.</p>
    </div>
