@model Bookshop_v5.Models.DTO.LoginModel
@{
}

<div class ="container">
<a href="/Auth/Register">Init Admin User</a>
<div  class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
    <form asp-action="Login" method="post">
        <div class="login-form">
            <h4 class="login-title">Login</h4>           
            <div class="row">
                <div class="col-md-12 col-12 mb--15">
                    <label for="email">Enter your email address here...</label>
                    <input class="mb-0 form-control" type="text" class="input" asp-for="Username"
                           placeholder="Enter you username here...">
                </div>
                <div class="message-box pd-x-28 error">
                    <span asp-validation-for="Username"></span>
                </div>
                <div class="col-12 mb--20">
                    <label for="password">Password</label>
                    <input class="mb-0 form-control" type="password" asp-for="Password" placeholder="Enter your password">
                </div>
                <div class="message-box pd-x-28 error">
                    <span asp-validation-for="Password"></span>
                </div>
                @if (TempData["msg"] != null)
                {
                    <div class="alert mb-1">
                        @TempData["msg"]
                    </div>
                }
                <div class="col-md-12">                   
                    <button class="btn btn-outlined" type="submit">Login</button>
                </div>
            </div>
        </div>
    </form>
</div>
</div>