<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bookshop_v5</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bookshop_v5.styles.css" asp-append-version="true" />
    @RenderSection("styles", required: false)
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
</head>
<body>    
   <div class=" header d-flex justify-content-between align-items-center">
       <div class="header-item header-left">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPVvMV88ozDSWFkle7Yk_jkIX3SPXzvhRAAXW1yt-Q&s" />
       </div>      
            <div class=" header-item header-center d-flex justify-content-center align-items-center">
                <a href="/Home/Index">Home</a>
            <a href="/Home/Index">Books</a>
            <a href="/Home/Index">About us</a>
            <a href="/Home/Index">Contact</a> 
        </div>     
            <div class=" header-item header-right d-flex justify-content-end align-items-center">
                <a href="/Home/Index">Đăng nhập</a>   
                <a href="/Home/Index">Đăng ký</a>
            </div>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    <footer>
        Footer
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
