<form method="post" action="/Contact">
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" name="Name" required />
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" name="Email" required />
    </div>
    <div class="form-group">
        <label for="Message">Message</label>
        <textarea class="form-control" name="Message" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>
