
@{
    ViewData["Title"] = "Index";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/css/test.css">
}

<section class="release">
    Release
</section>
<section>
    AS FEATURED ON
</section>

<section>
    A Word From The Author
</section>
<section>
    Complete Series
</section>
<section>
    What Readers Are Saying
</section>




