@using Bookshop_v5.Models.Domain;
@{
    ViewData["Title"] = "Genres";
}

<h1>Genres</h1>

<ul>
    @foreach (var genre in Model)
    {
        <li><a asp-controller="Genre" asp-action="Details" asp-route-id="@genre.Id">@genre.Name</a></li>
    }
</ul>